In [21]:
import pandas as pd
from matplotlib import pyplot
import numpy
from scipy.stats import shapiro,mannwhitneyu
import scipy.stats as stats

import warnings
warnings.filterwarnings("ignore")

In [7]:
dff = pd.read_csv("AB_Test_Results.csv")

In [11]:
df = dff

In [12]:
df.head()

   USER_ID VARIANT_NAME  REVENUE
0      737      variant      0.0
1     2423      control      0.0
2     9411      control      0.0
3     7311      control      0.0
4     6174      variant      0.0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   USER_ID       10000 non-null  int64
 1   VARIANT_NAME  10000 non-null  object
 2   REVENUE       10000 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 234.5+ KB

In [13]:
df.describe()

            USER_ID       REVENUE
count  10000.000000  10000.000000
mean    4981.080200      0.099447
std     2890.590115      2.318529
min        2.000000      0.000000
25%     2468.750000      0.000000
50%     4962.000000      0.000000
75%     7511.500000      0.000000
max    10000.000000    196.010000

In [15]:
df.shape

(10000, 3)

In [16]:
control = df.loc[df["VARIANT_NAME"]=="control"]
test = df.loc[df["VARIANT_NAME"]=="variant"]

## STEP 1 :
    
    -Null Hypothesis (H0): μ1 = μ2 (There is no statistically significant difference in terms of revenue between the Control and Variant Groups)    
    -Alternative Hypothesis (H1): μ1 ≠ μ2 (There is a statistically significant difference between the Control and Variant Groups in terms of revenue)

## STEP 2 :
    Normality Assumption Hypothesis:
        H0: The normal distribution assumption is satisfied.
        H1: The normal distribution assumption is violated.
    Assumption of Homogeneity of Variance:
        H0: Variances are homogenous.
        H1: Variances are not homogenous.

In [17]:
test_stat,p_value = shapiro(control["REVENUE"])
print('Test Stat=%.4f,p-value=%.4f'%(test_stat,p_value))

Test Stat=0.0183,p-value=0.0000

Notes:
If the p-value is less than 0.05, we reject the null hypothesis (H0)

In [18]:
test_stat,p_value = shapiro(test["REVENUE"])
print('Test Stat=%.4f,p-value=%.4f'%(test_stat,p_value))

Test Stat=0.0270,p-value=0.0000

H0 has been rejected, indicating that the data does not follow a normal distribution. As a result, there is no need to assess the homogeneity of variances. We can proceed directly to non-parametric statistical analysis, specifically the Mann-Whitney test

In [22]:
test_stat,pvalue = mannwhitneyu(control["REVENUE"],
                                test['REVENUE'])
print('Test stat = %.4f,p-value=%.4f'%(test_stat,pvalue))

Test stat = 12521564.0000,p-value=0.4783

## RESULT

Null Hypothesis (H0): μ1 = μ2 (There is no statistically significant difference in terms of revenue between the Control and Variant Groups)